{% extends 'myapp/base.html' %}
{% block page_title %}{{lesson.title}}{% endblock page_title %}
{% block page_links %}
<script src="https://cdn.tiny.cloud/1/7k6426m3rgtuf42vntbpffxgc683s0tlhsiza37pvkrtn81w/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
{% endblock page_links %}
{% block page_styles %}
<style>
#video{
    width: 40%;
}
#notes{
    width: 60%;
    height: 90vh;
    overflow-y: scroll;
}
.notes::-webkit-scrollbar {
  display: none;
}
#notes-text-editor{
    height: 100vh;
}
#notes-text-content{
    overflow: wrap;
}
</style>
{% endblock page_styles %}
{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 border" id="video">
                <iframe class="w-100" src="https://www.youtube.com/embed/{{lesson.video_id}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="w-100 d-flex -justify-content-between">
                    <a {% if prev %} href="{% url 'myapp:lesson' prev.pk %}" {% endif %} class="{% if prev %} {% else %} disabled {% endif %}btn btn-sm btn-secondary"><i class="fa fa-arrow-left"></i></a>
                    <a {% if next %} href="{% url 'myapp:lesson' next.pk %}" {% endif %} class="{% if next %} {% else %} disabled {% endif %}btn btn-sm btn-secondary mx-2"><i class="fa fa-arrow-right"></i></a>
                    <input type="range" id="scale" value="40" step="1" min="0" max="100">
                </div>
                <div class="fs-4 lead"><span class="b">{{lesson.pk}} </span>{{lesson.title}}</div>
            </div>
            <div class="col-6 border p-0" id="notes">
                <div class="w-100 bg-light d-flex align-items-center justify-content-between p-2">
                    <span class="fs-6"><span>{{lesson.pk}} </span>{{lesson.title}} <i>notes</i></span>
                    <button class="btn btn-sm btn-secondary" id="edit-notes"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-sm btn-secondary d-none" id="save-notes"><i class="fa fa-floppy-o"></i></button>
                </div>
                <script>
                    tinymce.init({
                      selector: '#notes-text-editor',
                      height: 800,
                      plugins: [
                        'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                        'table emoticons template paste help'
                        ],
                        toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                        'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                        'forecolor backcolor emoticons | help',
                        menu: {
                        favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons'}
                        },
                        menubar: 'favs file edit view insert format tools table help',
                    });
                </script>
                <textarea id="notes-text-editor" class="d-none"></textarea>
                <pre id="notes-text-content" class="p-3">{% if lesson.detail %} {{lesson.detail|safe}} {% endif %}</pre>
            </div>
        </div>
        
    </div>

{% endblock page_content %}

{% block page_scripts %}
<script>
    let video = document.querySelector('#video')
    let notes = document.querySelector('#notes')
    let iframe = document.querySelector('iframe')
    let scale = document.querySelector('#scale')
    let editBtn = document.querySelector('#edit-notes')
    let saveBtn = document.querySelector('#save-notes')
    let notesContent = document.querySelector('#notes-text-content')
    let notesEditor = document.querySelector('#notes-text-editor')
    
    scale.addEventListener('change', event=>{
        video.style.width = event.target.value + '%';
        notes.style.width = +(100- +(event.target.value)) + '%';
        iframe.style.height = iframe.parentNode.offsetWidth*0.5625 + 'px'
        iframe.style.width = iframe.parentNode.offsetWidth + 'px'
    })
    window.onload = ()=> {
        iframe.style.height = iframe.parentNode.offsetWidth*0.5625 + 'px'
        iframe.style.width = iframe.parentNode.offsetWidth + 'px'
        let toxEditorContainer = document.querySelector('.tox.tox-tinymce')
        toxEditorContainer.classList.toggle('d-none')
        {% comment %} notesContent.innerHTML = tinyMCE.get('notes-text-editor').setContent({{lesson.details}}); {% endcomment %}

    }
    saveBtn.addEventListener('click', (event)=>{
        let toxEditorContainer = document.querySelector('.tox.tox-tinymce')
        saveBtn.classList.toggle('d-none')
        editBtn.classList.toggle('d-none')
        notesEditor.classList.toggle('d-none')
        notesContent.classList.toggle('d-none')
        toxEditorContainer.classList.toggle('d-none')
        notesContent.innerHTML = tinyMCE.get('notes-text-editor').getContent();
        
        let data = new FormData();
        data.append("notes", tinyMCE.get('notes-text-editor').getContent())  
        data.append("csrfmiddlewaretoken", '{{csrf_token}}')
        
        axios.post('/save-notes/{{lesson.pk}}', data)
        .then(res => alert("Saved"))
        .catch(errors => console.log(errors))
    })
    editBtn.addEventListener('click', (event)=>{
        let toxEditorContainer = document.querySelector('.tox.tox-tinymce')
        saveBtn.classList.toggle('d-none')
        editBtn.classList.toggle('d-none')
        notesEditor.classList.toggle('d-none')
        notesContent.classList.toggle('d-none')
        toxEditorContainer.classList.toggle('d-none')
        notesContent.innerHTML = tinyMCE.get('notes-text-editor').setContent(notesContent.innerHTML);
    })
</script>
{% endblock page_scripts %}